@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&family=Shrikhand&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

h3 {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

/* COLORS */
html,
body {
  margin: 0 auto;
  width: 100%;
}

h2,
h3,
p {
  font-family: "Roboto";
}

ul,
li,
ol,
a,
a:visited {
  color: inherit;
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

figure,
h5,
p {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
}

/* HEADER */
.title-ohmyfood {
  width: 100%;
  height: 50px;
}

.logo-ohmyfood {
  background-image: url("../assets/logo/ohmyfood@2x.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40%;
  height: 50px;
}

/* LOCALISATION */
.localisation {
  -webkit-box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.4);
          box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.4);
  background-color: #eaeaea;
  padding-top: 10px;
  padding-bottom: 10px;
}

.localisation i {
  padding-right: 15px;
}

.desc-localisation {
  background-color: #f6f6f6;
}

/* FUNCTIONING */
.title-functioning {
  text-align: center;
}

.steps-functioning {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.steps-functioning li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 15px 20px 20px 30px;
  border-radius: 20px;
  -webkit-box-shadow: 1px 2px 8px 2px #c4c4c4;
          box-shadow: 1px 2px 8px 2px #c4c4c4;
}

.step-functioning-number {
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  background-color: #9356dc;
  color: white;
  margin-left: -15px;
}

.step-icon {
  color: grey;
  padding-left: 20px;
  padding-right: 20px;
}

.steps-functioning li p {
  font-weight: 600;
  width: 300px;
}

/* FOOTER */
.footer-container {
  color: white;
  background-color: #353535;
  padding-top: 8px;
  padding-bottom: 20px;
  padding-left: 10px;
}

.footer-container h4 {
  font-family: "Shrikhand";
  font-size: 20px;
  font-weight: 200;
}

.footer-list li a {
  color: white;
  text-decoration: none;
  font-family: "Roboto";
  line-height: 25px;
}

.footer-list li i {
  padding-right: 5px;
}

/* min-width: 320px */
@media only screen and (min-width: 320px) {
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-size: 20px;
  }
  .title-ohmyfood {
    width: 100%;
    height: 50px;
  }
  .logo-ohmyfood {
    background-size: 125px;
    height: 100%;
  }
  /* LOCALISATION CUSTOM MOBILE */
  .localisation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .localisation i {
    padding-right: 15px;
    font-size: 13px;
  }
  .localisation p {
    font-size: 13px;
    font-weight: 500;
  }
  .desc-localisation {
    background-color: #f6f6f6;
    padding-top: 20px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .desc-localisation h3 {
    max-width: 200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .desc-localisation p {
    text-align: center;
    padding-bottom: 30px;
    font-weight: 300;
  }
  .desc-localisation button {
    font-weight: 600;
    border-radius: 30px;
    cursor: pointer;
    height: 40px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    border: none;
    background: #ff79db;
    background: -webkit-gradient(linear, right bottom, left top, from(#af5fdb), to(#ff79db));
    background: linear-gradient(to top left, #af5fdb, #ff79db);
    -webkit-box-shadow: 4px 4px 6px 0px #aaa;
    box-shadow: 4px 4px 6px 0px #aaa;
    color: white;
  }
  .desc-localisation button:hover {
    background-color: #bc95e9;
    background-blend-mode: lighten;
    -webkit-box-shadow: 4px 4px 6px 0px #414141;
            box-shadow: 4px 4px 6px 0px #414141;
  }
  /* FUNCTIONING CUSTOM MOBILE */
  .title-functioning {
    margin-top: 25px;
    margin-bottom: 10px;
    text-align: left;
    padding-left: 10px;
  }
  .steps-functioning {
    margin-left: 5px;
    margin-bottom: 30px;
  }
  .steps-functioning li {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 70px;
  }
  .steps-functioning li:hover {
    background-color: #f5edff;
  }
  .steps-functioning li:hover .step-icon {
    color: #9356dc;
  }
  /* RESTAURANTS CUSTOM MOBILE */
  .restaurants {
    background-color: #eaeaea;
    padding-bottom: 25px;
  }
  .restaurants h3 {
    padding-top: 40px;
    padding-left: 10px;
    padding-bottom: 20px;
  }
  .palette-du-gout,
  .note-enchantee,
  .a-la-francaise,
  .le-delice-des-sens {
    border-radius: 10px;
    width: 90%;
    height: 220px;
    position: relative;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  .img-palette-du-gout {
    background-image: url("../assets/restaurants/palette-du-gout.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 150px;
    width: 100%;
  }
  .img-la-note-enchantee {
    background-image: url("../assets/restaurants/note-enchantee.jpg");
    background-position: center;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 150px;
    width: 100%;
  }
  .img-a-la-francaise {
    background-image: url("../assets/restaurants/a-la-francaise.jpg");
    background-position: center;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 150px;
    width: 100%;
  }
  .img-le-delice-des-sens {
    background-image: url("../assets/restaurants/delice-des-sens.jpg");
    background-position: center;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 150px;
    width: 100%;
  }
  .new-restaurant-button {
    text-align: center;
    font-family: "Roboto";
    font-weight: bold;
    position: absolute;
    right: 5%;
    top: 5%;
    border-radius: 2px;
    background-color: #99e2d0;
    color: #2f8f78c7;
    padding: 5px 10px;
  }
  figcaption {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    padding-left: 10px;
  }
  .figcaption-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .heart {
    font-size: 23px;
    position: relative;
    right: 25px;
    top: 5px;
  }
  .heart:hover {
    font-weight: bold;
    color: #9356dc;
  }
  .figcaption-title h5 {
    font-family: "Roboto";
    font-size: 16px;
  }
  /* FOOTER CUSTOM MOBILE */
  .footer-container li {
    padding-top: 5px;
    margin-left: 10px;
  }
  .footer-container h4 {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .footer-container li .fa-utensils {
    padding-right: 10px;
  }
  /* DETAILS MENU PALETTE DU GOUT CUSTOM MOBILE */
  .arrow-home {
    font-size: 16px;
    padding: 10px 10px;
    position: absolute;
    left: 5%;
  }
  .title-page-ohmyfood {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .title-page-ohmyfood h1 {
    font-family: "Shrikhand";
    padding-top: 5px;
  }
  .img-top-palette {
    background-image: url("../assets/restaurants/palette-du-gout.jpg");
    background-position: center;
    background-size: cover;
    height: 200px;
    margin-top: 5px;
    margin-bottom: -40px;
  }
  .menu-palette-du-gout h3 {
    font-family: "Shrikhand";
    font-size: 22px;
    font-weight: 500;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .menu-details-container {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
    height: 1000px;
    background-color: #f6f6f6;
  }
  .title-icon-palette {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .title-icon-palette i {
    font-size: 20px;
    margin-left: 20%;
  }
  /* DETAILS CARD MENU CUSTOM MOBILE */
  .starter-title,
  .dish-title,
  .dessert-title {
    font-family: "Roboto";
    font-weight: 300;
    font-size: 14px;
    padding-top: 20px;
  }
  .line-drawing {
    border-bottom: 3px solid #99e2d0;
    width: 12%;
    padding-top: 3px;
    margin-bottom: 10px;
  }
  .starter-title,
  .starters,
  .starter-meals,
  .line-drawing {
    -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
  }
  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .dish-title,
  .dishes,
  .dish-meals,
  .line-drawing {
    -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .dessert-title,
  .desserts,
  .dessert-meals,
  .line-drawing {
    -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
    -webkit-animation-duration: 6s;
            animation-duration: 6s;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .starter-meals,
  .dish-meals,
  .dessert-meals {
    display: block;
    border-radius: 15px;
    background-color: white;
    padding: 10px;
    margin-bottom: 15px;
    -webkit-transition: padding-right 200ms ease-in-out;
    transition: padding-right 200ms ease-in-out;
    cursor: pointer;
    overflow: hidden;
    position: relative;
  }
  .starter-meals:hover,
  .dish-meals:hover,
  .dessert-meals:hover {
    padding-right: 70px;
  }
  .starter-meals:hover .validation-meal,
  .dish-meals:hover .validation-meal,
  .dessert-meals:hover .validation-meal {
    opacity: 1;
    -webkit-transform: translate(-80px);
            transform: translate(-80px);
  }
  .starter-meals:hover .fa-check-circle,
  .dish-meals:hover .fa-check-circle,
  .dessert-meals:hover .fa-check-circle {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  .starter-meals:hover .details-price-meal p:nth-child(1),
  .starter-meals h5,
  .dish-meals:hover .details-price-meal p:nth-child(1),
  .dish-meals h5,
  .dessert-meals:hover .details-price-meal p:nth-child(1),
  .dessert-meals h5 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 10px;
  }
  .starter-meals h5,
  .dish-meals h5,
  .dessert-meals h5 {
    font-family: "Roboto";
    margin-bottom: 3px;
    font-size: 15px;
    font-weight: bold;
  }
  .starter-meals p,
  .dish-meals p,
  .dessert-meals p {
    font-family: "Roboto";
    font-size: 13px;
  }
  .details-price-meal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .details-price-meal p:nth-child(2) {
    font-weight: bold;
  }
  .validation-meal {
    background-color: #99e2d0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 57px;
    width: 57px;
    padding: 20px;
    position: absolute;
    right: -80px;
    opacity: 0;
    margin-top: -46px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    -webkit-transition: -webkit-transform 500ms ease-in-out;
    transition: -webkit-transform 500ms ease-in-out;
    transition: transform 500ms ease-in-out;
    transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
  }
  .validation-meal .fa-check-circle {
    color: white;
    font-size: 20px;
    -webkit-transition: -webkit-transform 800ms ease-in-out;
    transition: -webkit-transform 800ms ease-in-out;
    transition: transform 800ms ease-in-out;
    transition: transform 800ms ease-in-out, -webkit-transform 800ms ease-in-out;
  }
  .menu-palette-du-gout button {
    font-weight: 600;
    border-radius: 30px;
    cursor: pointer;
    height: 40px;
    width: 200px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    background: #ff79db;
    background: -webkit-gradient(linear, right bottom, left top, from(#af5fdb), to(#ff79db));
    background: linear-gradient(to top left, #af5fdb, #ff79db);
    -webkit-box-shadow: 4px 4px 6px 0px #aaa;
    box-shadow: 4px 4px 6px 0px #aaa;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu-palette-du-gout button:hover {
    background-color: #bc95e9;
    background-blend-mode: lighten;
    -webkit-box-shadow: 4px 4px 6px 0px #414141;
            box-shadow: 4px 4px 6px 0px #414141;
  }
}

/* min-width: 480px */
@media only screen and (min-width: 480px) {
  .title-ohmyfood {
    width: 100%;
    height: 50px;
  }
  .logo-ohmyfood {
    background-size: 125px;
    height: 100%;
  }
  .new-restaurant-button {
    text-align: center;
    font-family: "Roboto";
    font-weight: bold;
    position: absolute;
    right: 5%;
    top: 5%;
    border-radius: 2px;
    background-color: #99e2d0;
    color: #2f8f78c7;
    padding: 5px 10px;
  }
  /* DETAILS MENU PALETTE DU GOUT SMALL MOBILE */
  .title-icon-palette i {
    font-size: 20px;
    margin-left: 20%;
  }
}

/* min-width: 768px */
@media only screen and (min-width: 768px) {
  .palette-du-gout,
  .note-enchantee,
  .a-la-francaise,
  .le-delice-des-sens {
    width: 45%;
  }
  .restaurants-inline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .menu-container {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
}

/* min-width: 992px */
@media only screen and (min-width: 992px) {
  .steps-functioning {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .steps-functioning li {
    width: 30%;
  }
  .palette-du-gout,
  .note-enchantee,
  .a-la-francaise,
  .le-delice-des-sens {
    border-radius: 10px;
    width: 90%;
    height: 220px;
    position: relative;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 45%;
  }
  .restaurants-inline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/* min-width: 1200px */
@media only screen and (min-width: 1200px) {
  .palette-du-gout,
  .note-enchantee,
  .a-la-francaise,
  .le-delice-des-sens {
    border-radius: 10px;
    width: 90%;
    height: 220px;
    position: relative;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 40%;
    margin-left: 30px;
    margin-right: 10px;
  }
  /* DETAILS MENU CARD LARGE */
}
