@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&family=Shrikhand&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

ul,
li,
ol {
  list-style: none;
  text-decoration: none;
}

/* COLORS */
p,
h3 {
  font-family: "Roboto";
}

/* HEADER */
.title-ohmyfood {
  font-size: 20px;
  font-family: "Shrikhand";
  text-align: center;
}

/* LOCALISATION */
.localisation {
  background-color: #eaeaea;
  text-align: center;
}

.desc-localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.desc-localisation i {
  padding-right: 15px;
}

/* FUNCTIONING */
.title-functioning {
  text-align: center;
}

.steps-functioning {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.steps-functioning li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 15px 20px 20px 30px;
  border-radius: 20px;
  -webkit-box-shadow: 1px 2px 8px 2px #c4c4c4;
          box-shadow: 1px 2px 8px 2px #c4c4c4;
}

.step-functioning-number {
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  background-color: #9356dc;
  color: white;
  margin-left: -15px;
}

.step-icon {
  color: grey;
  padding-left: 20px;
  padding-right: 20px;
}

.steps-functioning li p {
  font-weight: 600;
  width: 300px;
}

/* min-width: 320px */
/* min-width: 480px */
/* min-width: 768px */
/* min-width: 992px */
/* min-width: 1200px */
