@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&family=Shrikhand&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

h3 {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

/* COLORS */
h2,
h3,
p {
  font-family: 'Roboto';
}

h4,
h5 {
  font-family: 'Shrikhand';
}

ul,
li,
ol {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

/* HEADER */
.title-ohmyfood {
  font-size: 20px;
  font-family: 'Shrikhand';
  text-align: center;
}

/* LOCALISATION */
.localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: #eaeaea;
}

.localisation i {
  padding-right: 15px;
}

/* FUNCTIONING */
.title-functioning {
  text-align: center;
}

.steps-functioning {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.steps-functioning li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 15px 20px 20px 30px;
  border-radius: 20px;
  -webkit-box-shadow: 1px 2px 8px 2px #c4c4c4;
          box-shadow: 1px 2px 8px 2px #c4c4c4;
}

.step-functioning-number {
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  background-color: #9356dc;
  color: white;
  margin-left: -15px;
}

.step-icon {
  color: grey;
  padding-left: 20px;
  padding-right: 20px;
}

.steps-functioning li p {
  font-weight: 600;
  width: 300px;
}

/* FOOTER */
.footer-container {
  color: white;
  background-color: #353535;
  padding-top: 8px;
  padding-bottom: 20px;
  padding-left: 10px;
}

.footer-list li a {
  color: white;
  text-decoration: none;
  font-family: 'Roboto';
  line-height: 25px;
}

.footer-list li i {
  padding-right: 5px;
}

/* min-width: 320px */
@media only screen and (min-width: 320px) {
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-size: 20px;
  }
  .localisation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    text-align: center;
  }
  .localisation i {
    padding-right: 15px;
  }
  .desc-localisation {
    background-color: #eaeaea;
    padding-top: 20px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .desc-localisation h3 {
    max-width: 200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .desc-localisation p {
    text-align: center;
  }
  .desc-localisation button {
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    height: 40px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border: none;
    background: #ff79db;
    background: -webkit-gradient(linear, right bottom, left top, from(#ff79db), to(#af5fdb));
    background: linear-gradient(to top left, #ff79db, #af5fdb);
    -webkit-box-shadow: 4px 4px 6px 0px #aaa;
    box-shadow: 4px 4px 6px 0px #aaa;
    color: white;
  }
  .title-functioning {
    margin-top: 25px;
    margin-bottom: 10px;
    text-align: left;
    padding-left: 10px;
  }
  .steps-functioning {
    margin-left: 5px;
  }
  .steps-functioning li {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 70px;
  }
  .footer-container li {
    padding-top: 5px;
    margin-left: 10px;
  }
  .footer-container h4 {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
  }
}

/* min-width: 480px */
/* min-width: 768px */
/* min-width: 992px */
/* min-width: 1200px */
