@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&family=Shrikhand&display=swap');

@import './libs/reset.scss';
@import './libs/variables.scss';
@import './libs/responsive.scss';

h2,
h3,
p {
  font-family: 'Roboto';
}

h4,
h5 {
  font-family: 'Shrikhand';
}

ul,
li,
ol {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  padding-inline-start: 0;
}

/* HEADER */
.title-ohmyfood {
  font-size: 20px;
  font-family: 'Shrikhand';
  text-align: center;
}

/* LOCALISATION */
.localisation {
  background-color: $grey-color;
  text-align: center;
}

.desc-localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.desc-localisation i {
  padding-right: 15px;
}

/* FUNCTIONING */

.title-functioning {
  text-align: center;
}

.steps-functioning {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.steps-functioning li {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 15px 20px 20px 30px;
  border-radius: 20px;
  box-shadow: 1px 2px 8px 2px #c4c4c4;
}

.step-functioning-number {
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  background-color: $primary-color;
  color: white;
  margin-left: -15px;
}

.step-icon {
  color: grey;
  padding-left: 20px;
  padding-right: 20px;
}

.steps-functioning li p {
  font-weight: 600;
  width: 300px;
}

/* FOOTER */
.footer-container {
  color: white;
  background-color: #353535;
  padding-top: 8px;
  padding-bottom: 20px;
  padding-left: 10px;
}

.footer-list li a {
  color: white;
  text-decoration: none;
  font-family: 'Roboto';
  line-height: 25px;
}

/* min-width: 320px */
@media #{$small-custom} {
}

/* min-width: 480px */
@media #{$small-down} {
}

/* min-width: 768px */
@media #{$small-up} {
}

/* min-width: 992px */
@media #{$medium-up} {
}

/* min-width: 1200px */
@media #{$large-up} {
}
