@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&family=Shrikhand&display=swap");

@import "./libs/reset.scss";
@import "./libs/variables.scss";

p,
h3 {
  font-family: "Roboto";
}

/* HEADER */
.title-ohmyfood {
  font-size: 20px;
  font-family: "Shrikhand";
  text-align: center;
}

/* LOCALISATION */
.localisation {
  background-color: $grey-color;
  text-align: center;
}

.desc-localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.desc-localisation i {
  padding-right: 15px;
}

/* FUNCTIONING */
.choose-restaurant {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
