@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&family=Shrikhand&display=swap');

@import './libs/reset.scss';
@import './libs/variables.scss';

p,
h3 {
  font-family: 'Roboto';
}

/* HEADER */
.title-ohmyfood {
  font-size: 20px;
  font-family: 'Shrikhand';
  text-align: center;
}

/* LOCALISATION */
.localisation {
  background-color: $grey-color;
  display: flex;
  justify-content: center;
}

.localisation p {
  padding-left: 10px;
}

/* EXPLORATION */
.explore {
  text-align: center;
  background-color: $lightgrey-color;
}

/* FUNCTIONING */
